.search-input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    background-color: #f6ebb4fb;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-input {
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
  
  .search-button {
    background-color: #f0ee7a;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #f4f2b0;
  }
  